* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Work Sans', sans-serif;
}

/* global style start */
section {
     max-width: 1140px;
     margin: 0 auto;
     margin-top: 130px;
     margin-bottom: 130px;
}

.btn-primary,
.subscribe-item input[type=submit] {
     padding: 18px 30px;
     border: none;
     border-radius: 5px;
     font-size: 20px;
     font-weight: 600px;
     color: #005FAC;
     transition: all 0.3s;
}

.btn-primary:hover {
     background: #2AB9EE;
     color: #fff;
}

.subscribe-item input[type=submit]:hover {
     background: #fff;
     color: #005FAC;
}

a {
     text-decoration: none;
     cursor: pointer;
     color: #fff;
}

li {
     list-style-type: none;
}

/* global style end */

/* header style start */

.header-section {
     background: url("../images/banner/banner3.png");
     background-repeat: no-repeat;
     background-size: contain;
     height: 682px;
}

.header-content {
     max-width: 1140px;
     margin: 0 auto;
     position: absolate;
}

.header-item {
     position: relative;
     width: 550px;
     height: 480px;
     top: 164px;
     right: 0;
     left: 590px;
     text-align: right;
}

.head-title {
     font-size: 65px;
     color: #FFF;
}

.head-description {
     color: #FFF;
     padding: 24px 0 32px 56px;
}

/* header style end */

/* failure section style start */

.failure-area {
     display: flex;
     align-content: center;
     align-items: center;
}

.image-area {
     background: rgba(204, 204, 204, 0.2);

}

.content-area {
     padding: 0 100px 0 50px;
}

.failure-title {
     font-size: 40px;
     text-align: left;
     padding: 32px 20px;
}

.fai-description {
     color: #444343;
}

.content-area ul {
     padding: 20px 0;
}

.content-area li {
     list-style-type: none;
     padding: 8px 0;
     color: #444343;
}

.content-area ul .fa-check {
     color: green;
     padding-right: 10px;
     font-size: 18px !important;
}

/* failure section style end */

/* Plans section start */

.plans-content {
     display: flex;
     justify-content: space-between;
}

.plans-title {
     font-size: 40px;
     text-align: center;
     padding: 32px 0;
}

.content-item {
     text-align: center;
}

.content-title {
     font-size: 30px;
     padding: 16px 0;
}

.cont-descrip {
     font-size: 25px;
     color: #737272;
}

/* Plans section end */

/* Mind section start */
.mind-section {
     background: url("../images/watch.png");

}

.mind-area {
     background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
     height: 300px;
     border-radius: 8px;
     position: relative;
}

.mind-content {
     position: absolute;
     width: 460px;
     top: 42px;
     left: 75px;
}

.mind-title {
     font-size: 40px;
     font-weight: 700;
     padding: 24px 0;
     color: #ffffff;
}

/* Mind section end */

/* Footer section start */

footer {
     background: #151414;
     height: 570px;
     color: #fff;
}

.footer-area {
     display: flex;
     justify-content: space-between;
     align-content: center;
     align-items: center;
     max-width: 1140px;
     height: 570px;
     margin: 0 auto;
}

.future-item {
     width: 485px;
}

.subscrbe-item {
     width: 325px;
}

.future-title {
     font-size: 45px;
     font-weight: 700;
     padding: 16px 0;
}

.fut-descirb {
     line-height: 26px;
     padding: 10px 0;
}

.social-item ul {
     margin-top: 10px;
}

.social-item ul li {
     list-style-type: none;
     display: inline-block;
     margin: 10px;
     transition: all 0.3s;
}

.social-item ul li .fa-brands,
.fa-facebook,
.fa-twitter,
.fa-youtube {
     transition: all 0.3s;
}

.social-item ul li .fa-brands {
     font-size: 32px;
}

.social-item ul li .fa-facebook:hover {
     color: #0B86EE;
}

.social-item ul li .fa-twitter:hover {
     color: #1DA1F2;
}

.social-item ul li .fa-youtube:hover {
     color: #FF0000;
}

.subscribe {
     width: 325px;
     margin-top: -76px;
}

.sub-title {
     font-size: 25px;
     font-weight: 600;
     padding-bottom: 32px;
}

.subscribe-item input[type=email] {
     padding: 23px 15px;
     width: 100%;
     background: transparent;
     border: 2px solid #444343;
     border-radius: 10px;
     font-size: 18px;
     margin-bottom: 24px;

}

.subscribe-item input[type=submit] {
     display: block;
     color: #fff;
     background: #005FAC;
     font-family: 'Inter', sans-serif;
     border-radius: 10px;


}

/* Footer section end */




/*********** Working section start ***********
and Extra bonus section********/

.working-title {
     font-size: 45px;
     font-weight: 700;
     text-align: center;

}

.work-description {
     color: #747272;
     text-align: center;
     padding: 40px 300px;
}

.working-idea {
     display: flex;
     justify-content: space-between;
}

.working-process {
     width: 270px;
     height: 300px;
     text-align: center;
     padding: 80px 0 50px 0;
     transition: all 0.5s;

}

.working-process:hover {
     box-shadow: 5px 3px 20px;
}

.working-process a {
     display: block;
     color: black;
     text-align: center;
     margin-bottom: 40px;
     text-transform: uppercase;
     font-size: 20px;
     font-weight: 600;

}

.work-1 {
     background-color: #005fac6d;
}

.work-2 {
     background-color: #0b88eea4;
}

.work-3 {
     background-color: #15141428;
}

.work-4 {
     background-color: #00ff1e61;
}

.fa-solid,
.fa-sharp {
     color: #737272;
     font-size: 60px;
}

/*********** Working section End ***********
and Extra bonus section********/